/* ==========================================================================
   Colors
   ========================================================================== */

/*
 * Dark cyan: #10A296, rgba(16, 162, 150)
 * Soft orange: #fdc162, rgba(253, 193, 98, 1)
 * Soft red: #fd6a62, rgba(253, 106, 98, 1);
 * Strong blue: #0099cc, rgba(0, 153, 204, 1);
 */




/*.color:hover.turquoise {
  background: #1dd2af;
}
.color:hover.green-sea {
  background: #19b698;
}
.color:hover.emerland {
  background: #40d47e;
}
.color:hover.nephritis {
  background: #2cc36b;
}
.color:hover.peter-river {
  background: #4aa3df;
}
.color:hover.belize-hole {
  background: #2e8ece;
}
.color:hover.amethyst {
  background: #a66bbe;
}
.color:hover.wisteria {
  background: #9b50ba;
}
.color:hover.wet-asphalt {
  background: #3d566e;
}
.color:hover.midnight-blue {
  background: #354b60;
}
.color:hover.sun-flower {
  background: #f2ca27;
}
.color:hover.orange {
  background: #f4a62a;
}
.color:hover.carrot {
  background: #e98b39;
}
.color:hover.pumpkin {
  background: #ec5e00;
}
.color:hover.alizarin {
  background: #ea6153;
}
.color:hover.pomegranate {
  background: #d14233;
}
.color:hover.clouds {
  background: #fbfcfc;
  color: #bdc3c7;
}
.color:hover.silver {
  background: #cbd0d3;
}
.color:hover.concrete {
  background: #a3b1b2;
}
.color:hover.asbestos {
  background: #8c9899;
}*/
.color.teal {
  background: #10A296;
}
.color.strong-blue {
  background-color: #0099cc;
}
.color.turquoise {
  background: #1ABC9C;
}
.color.green-sea {
  background: #16A085;
}
.color.emerland {
  background: #2ECC71;
}
.color.nephritis {
  background: #27AE60;
}
.color.peter-river {
  background: #3498DB;
}
.color.belize-hole {
  background: #2980B9;
}
.color.amethyst {
  background: #9B59B6;
}
.color.wisteria {
  background: #8E44AD;
}
.color.wet-asphalt {
  background: #34495E;
}
.color.midnight-blue {
  background: #2C3E50;
}
.color.sun-flower {
  background: #F1C40F;
}
.color.orange {
  background: #F39C12;
}
.color.carrot {
  background: #e98b39;
  /*background: #E67E22;*/
}
.color.pumpkin {
  background: #D35400;
}
.color.alizarin {
  /*background: #E74C3C;*/
  background: #fd6a62;
}
.color.pomegranate {
  background: #C0392B;
}
.color.clouds {
  background: #ECF0F1;
  color: #bdc3c7;
}
.color.silver {
  background: #BDC3C7;
}
.color.concrete {
  background: #95A5A6;
}
.color.asbestos {
  background: #7F8C8D;
}















/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #4d4d4d;
  text-decoration: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



/* ==========================================================================
   Fonts
   ========================================================================== */


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: ‘entypo’;
  src: url('entypo.eot');
  src: url('entypo.eot?#iefix') format('embedded-opentype'), url('entypo.woff') format('woff'), url('entypo.ttf') format('truetype'),
  url('entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;

}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7333;
  color: #4d4d4d
}

/* Color schemes */

.header-container,
.footer-container {
  background: #10A296;
}

/*.soft-orange .header-container,
.soft-orange .footer-container {
  background: #fdc162;
}

.soft-red .header-container,
.soft-red .footer-container {
  background: #fd6a62;
}

.strong-blue .header-container,
.strong-blue .footer-container {
  background: #0099cc;
}*/

.title {
  color: white;
}


.footer-container footer {
  color: white;
  padding: 20px 0;
}

.wrapper {
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
}

.header-container header,
.footer-container footer {
  color: #fff;
  padding: 90px 0;
}

.feature .header-container header {
  padding-bottom: 0;
}

.header-container .read-more {
  margin-top: 100px;
  color: rgba(255, 255, 255, .5);
}

.header-container .read-more .typcn {
  display: inline-block;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 20px;
  margin: auto;
}

.footer-container footer {
  padding-top: 50px;
}

.header-container header a,
.footer-container footer a {
  color: #fff;
}

.project-list article {
  padding: 120px 0;
}

.project-list .alternate,
.project .subheader {
  background-color: #ebeff2;
}

.project .subheader {
  padding: 30px 0;
}

.project-list .project-content,
.project .project-content {
  float: left;
  /*padding-left: 1.2658228%; /* 10px ÷ 790 */
  width: 50%; /* 380px ÷ 790 */
}

.project-list .alternate .project-content,
.project .alternate .project-content {
  float: right;
}

.project-list .project-meta,
.project .project-meta {
  color: #9fa1a3;
  font-size: 0.75em;
  line-height: 1;
  margin: 11px 0 0;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .07);
  border-radius: 3px;
  color: #10A296;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  height: auto;
  line-height: 1;
  padding: 13px 30px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
  width: auto;
  *display: inline;
  *zoom: 1;
}

.button,
.button:link,
.button:visited {
  color: #10a296;
}

.button:hover {
  border-color: rgba(16, 162, 150, .5);
}

/*.teal .button,
.teal .button:link,
.teal .button:visited {
  color: #10a296;
}

.soft-orange .button,
.soft-orange .button:link,
.soft-orange .button:visited {
  color: #fdc162;
}

.soft-red .button,
.soft-red .button:link,
.soft-red .button:visited {
  color: #fd6a62;
}*/

/*.teal .button:hover {
  border-color: rgba(16, 162, 150, .5);;
}

.soft-orange .button:hover {
  border-color: rgba(253, 193, 98, .5);
}

.soft-red .button:hover {
  border-color: rgba(253, 106, 98, .5);
}*/

.button-large {
  border-color: rgba(16, 162, 150, .2);;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  font-size: 1.8em;
  padding: 20px 40px;
}

/*.teal .button-large {
  border-color: rgba(16, 162, 150, .2);
}

.soft-orange .button-large {
  border-color: rgba(253, 193, 98, .2);
}

.soft-red .button-large {
  border-color: rgba(253, 106, 98, .2);
}*/

.project section:last-child.button-container {
  padding-top: 0;
}

.project-list .project-illustration,
.project .project-illustration {
  position: relative;
  float: right;
}

.alternate .project-illustration {
  float: left;
}

.project-illustration-center {
  padding-top: 40px;
}




.feature .header-container {
  padding: 40px 0 0;
}

.project section {
  padding: 60px 0;
}

.project .subheader {
  padding: 40px 0 !important;
}

.project .subheader iframe {
  display: block;
  border: 3px solid #fff;
  margin: 0 auto;
}

.project .description:first-child {
  padding-top: 120px;
}

.project .description:last-child {
  padding-bottom: 120px;
}

.project header h2,
.project footer h2 {
  margin-bottom: 10px;
}

.project header .subtitle,
.project footer .subtitle {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin: 0;
  color: rgba(255,255,255,0.5);
}

.feature .intro {
  color: rgba(255,255,255,0.5);
/*  font-family: 'Satisfy', cursive;*/
  /*font-size: 1.5em;*/
}

.project section ul {
  padding-left: 0;
  list-style: none;
}

.project section li {
  margin-bottom: 10px;
}

.main-container p a {
  color: #10A296;
}

/*.teal .main-container p a {
  color: #10A296;
}

.soft-orange .main-container p a {
  color: #fdc162;
}

.soft-red .main-container p a {
  color: #fd6a62;
}*/

.project .description a:hover {
  text-decoration: underline;
}




/* ICONS */

nav .typcn {
  font-size: 2em;
  color: #fff;
  border-radius: 50%;
  border-top: 9px solid rgba(0,0,0,0.0);
  border-bottom: 12px solid rgba(0,0,0,0.0);
  display: inline-block;
  background: rgba(0,0,0,0.05);
  -webkit-transition: background 0.3s, color 0.3s;
     -moz-transition: background 0.3s, color 0.3s;
          transition: background 0.3s, color 0.3s;
}

nav .typcn:hover,
nav .typcn:active {
  background: #fff;
  color: transparent;
}

.teal nav .typcn:hover,
.teal nav .typcn:active {
  color: #10A296 !important;
}

.soft-orange nav .typcn:hover,
.soft-orange nav .typcn:active {
  color: #fdc162;
}

.soft-red nav .typcn:hover,
.soft-red nav .typcn:active {
  color: transparent;
}

.strong-blue nav .typcn:hover,
.strong-blue nav .typcn:active {
  color: #0099cc;
}

nav .typcn-chevron-left {
  border-left: 9px solid rgba(0,0,0,0.0);
  border-right: 12px solid rgba(0,0,0,0.0);
}

nav .typcn-chevron-right {
  border-left: 12px solid rgba(0,0,0,0.0);
  border-right: 9px solid rgba(0,0,0,0.0);
}

.nav-previous,
.nav-next {
  position: absolute;
  top: 200px;
}

.nav-previous {
  left: 50px;
}

.nav-next {
  right: 50px;
}

.nav-home, .nav-back {
  position: fixed;
  top: 50px;
  left: 50px;
}

.nav-back a {
  color: rgba(0,0,0,0.1) !important;
  background: transparent !important;
}

.nav-back a:hover {
  color: #fff !important;
  color: rgba(0,0,0,0.5) !important;
}


nav .typcn-home {
  color: rgba(0,0,0,0.1) !important;
  background: transparent;
  border-left: 11px solid rgba(0,0,0,0.0);
  border-right: 11px solid rgba(0,0,0,0.0);
  border-top: 8px solid rgba(0,0,0,0.0);
  border-bottom: 13px solid rgba(0,0,0,0.0);
}








.artist .project-illustration img {
  border: 10px solid #f9f9f9;
  border-radius: 6px;
  width: 250px;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,.15);
     -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,.15);
          box-shadow: 1px 1px 0px 0px rgba(0,0,0,.15);
}

.artist .alternate .project-illustration img {
  border-color: #fff;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,.1);
     -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,.1);
          box-shadow: 1px 1px 0px 0px rgba(0,0,0,.1);
}







.label{
  background-color: #aaa;
  border-radius: .25em;
  color: #fff;
  display: inline;
  font-size: 70%;
  line-height: 1;
  padding: .3em .7em;
  text-align: center;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;
}

.label-award {
  background-color: #fd6a62;
}

.label-publication {
  background-color: #10a296;
}

.label-widely-used {
  background-color: #fdc162;
}



.home {
  background: #fd6a62;
  /*background: #0ac2d2;*/
  /*background: #0099cc;*/
  color: #fff;
}

.home a {
  /*color: #fff;*/
  border-bottom: 2px dashed #fff;
}

.home article {
  padding-top: 200px;
}


.home h3 {
  color: rgba(255,255,255,0.75);
  font-size: 1.75em;
  margin: 10px 0;
}

.home h3 span {
  color: #fff;
  font-weight: 600;
}

.home .profile-picture {
  border: 10px solid #fff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.home .summary {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}












.creative-technologist .flashteams .project-illustration {
  margin-top: 20px;
}

.creative-technologist .youmote .project-illustration {
  margin-top: 60px;
}

.creative-technologist .musicnovices .project-illustration {
  margin-top: 35px;
}

.creative-technologist .classpicker .project-illustration {
  margin-top: 70px;
}

.creative-technologist .studentcenter .project-illustration {
  margin-top: 60px;
}

.creative-technologist .starsandstates .project-illustration {
  margin-top: 40px;
}

.crowdsourcing-complexity .project-content {
  margin-top: 50px;
}

.flashteam-definition .project-content {
  margin-top: 35px;
}

.flashteam-attributes .project-content {
  margin-top: 40px;
}

.methods .project-content {
  margin-top: 60px
}

.foundry .project-illustration {
  margin-top: 15px;
}

.youmote-prototyping .project-illustration {
  margin-top: 15px;
}

.musicnovices .motivation .project-content {
  margin-top: 50px; 
}

.musicnovices .simple-instrument .project-content {
  margin-top: 70px; 
}
.musicnovices .simple-instrument .project-illustration {
  /*margin-right: 5.063%; /* 40 px ÷ 790 px */
}

.musicnovices .experiment .project-content {
  margin-top: 50px; 
}

.musicnovices .betterux .project-content {
  margin-top: 70px; 
}

.classpicker .brainteaser .project-content {
  margin-top: 20px; 
}

.classpicker .like .project-illustration {
  margin-top: 20px; 
}

.studentcenter .overcrowdedclasses .project-illustration {
  margin-top: 10px; 
}

.studentcenter .system-status .project-illustration {
  margin-top: 30px; 
}

.studentcenter .ta-work .project-illustration {
  margin-top: 10px; 
}

.studentcenter .spreading .project-content {
  margin-top: 50px; 
}

.starsandstates .dataflag .project-illustration {
  margin-top: 40px; 
}

.starsandstates .instructive-fun .project-illustration {
  margin-top: 25px; 
}

.icebreaker .homescreen .project-content {
  margin-top: 40px; 
}

.icebreaker .usertesting .project-illustration {
  margin-top: 70px; 
}

.artist .musicevolution .project-illustration {
  margin-top: 20px;
}

.artist .jacksbrothers-video .project-illustration {
  margin-top: 30px;
}

.artist .xray-poster .project-illustration {
  margin-top: 25px;
}

.artist .pionid-businesscards .project-illustration {
  margin-top: 25px;
}



/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
/*.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}*/

/*.md-perspective body  {
  background: #222;
  -webkit-perspective: 600px;
     -moz-perspective: 600px;
          perspective: 600px;
}*/
/*
.container {
  background: #e74c3c;
  min-height: 100%;
}
*/
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  /*width: 100%;*/
  /*max-width: 790px;*/
  /*min-width: 320px;*/
  /*height: auto;*/
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0,0,0,0.8);
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
          transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Content styles */
.md-content {
  /*color: #fff;*/
  background: #fff;
  position: relative;
  border-radius: 6px;
  margin: 0 auto;
}

.md-content img {
  padding: 10px;
  /*height: auto;*/
  /*max-width: 100%;*/
  /*height: 100%;*/
  /*border-radius: 6px;*/
}




.md-content > figure {
  /*padding: 10px;*/
  margin: 0;
}

.md-content iframe {
  display: block;
  padding: 10px;
}

.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}

.md-trigger {
  cursor: pointer;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-fadein .md-content {
  -webkit-transform: scale(0.7);
     -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
          transition: all 0.3s;
}

.md-show.md-effect-fadein .md-content {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}





.ribbon-wrapper {
width: 180px;
height: 172px;
overflow: hidden;
position: absolute;
top: -4px;
right: -4px;
}

.ribbon {
font: 0.8em;
line-height: 1em;
color: #333;
text-align: center;
text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
position: relative;
padding: 7px 0;
left: -5px;
top: 45px;
width: 235px;
background-color: #BFDC7A;
/*background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);*/
color: #6a6340;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
white-space: nowrap;
}













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
    ==================== */

/*  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }*/

/* ========================
    INTERMEDIATE: IE Fixes
    ======================== */

/*  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }*/
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
    ==================== */

/*  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }*/

/* ============
    WIDE: Menu
    ============ */

/*  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }*/

/* ============
    WIDE: Main
    ============ */

/*  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 28%;
  }*/
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
    =============== 

/*  .wrapper {
    width: 1026px;  1140px - 10% for margins 
    margin: 0 auto;
  }*/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.align-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
/*  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s *//*
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }*/

  /*
   * Don't show links for images, or javascript/internal links
   */

/*   .ir a:after,
   a[href^="javascript:"]:after,
   a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;  h5bp.com/t 
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }*/
}