/**
 * @fileoverview Main stylesheet
 * @author <a href='mailto:hello@robi.me'>Sébastien Robaszkiewicz</a>
 */

@import 'reset';
@import 'animation-mixins';
@import 'transform-mixins';
@import 'flexbox-mixins';
@import 'icons';

@include keyframes('fadein') {
  0%   { opacity: 0 };
  100% { opacity: 1 };
};

html, body {
  height: 100%;
  font-size: 10px;
}

body {
  background-image: url(../img/bg.jpg);
  background-color: #d2bd90;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'Lato', 'sans-serif';
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

h1 {
  font-size: 1.7rem
}

h2 {
  font-size: 1.1rem;
}

#scene {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include animation('fadein 3s 0.5s forwards');
  height: 100%;
  opacity: 0;
  padding: 1rem 2rem;
}

.title {
  letter-spacing: 0.7rem;
  line-height: 1.2;
  margin: 1rem 0 0.75rem;
  text-transform: uppercase;
}

.subtitle {
  letter-spacing: 0.3rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.tagline {
  font-family: 'Merriweather', 'serif';
  font-style: italic;
  letter-spacing: 0.08rem;
}

.icons {
  margin: 3rem 0 0;

  li {
    display: inline-block;
    margin: 0 2rem;
    position: relative;
  }

  .frame::before {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    content: '';
    left: 50%;
    position: absolute;
    top: 50%;
    @include transform-origin(50%);
    @include transition('background-color 0.5s');
  }

  // Circle shape
  .frame.circle::before {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    @include transform(translate3d(-50%,-50%,0));
  }

  // Diamond shape
  .frame.diamond::before {
    height: 2rem;
    width: 2rem;
    @include transform(translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1));
  }
}

.touchevents {
  li:active .frame::before {
    background-color: rgba(255, 255, 255, 0.5);
    @include transition('background-color 0.1s');
  }
}

.no-touchevents {
  li:hover .frame::before {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .subtitle {
    font-size: 1.2rem;
    letter-spacing: 0.45rem;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  html, body {
    font-size: 14px;
  }

  .icons {
    margin-top: 3.5rem;

    .frame.diamond::before {
      border-width: 2px;
    }
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  html, body {
    font-size: 16px;
  }

  .title {
    letter-spacing: 0.9rem;
  }

  .icons {
    margin-top: 4rem;

    li {
      margin: 0 2.25rem;
    }
  }
}
