/**
 * @fileoverview Main stylesheet
 * @author <a href='mailto:hello@robi.me'>Sébastien Robaszkiewicz</a>
 */

@import 'reset';
@import 'animation-mixins';
@import 'flexbox-mixins';

html, body {
  height: 100%;
  font-size: 10px;
}

body {
  background: url(../img/bg.jpg) #d2bd90 no-repeat center/cover;
  color: white;
  font-family: 'Lato', 'sans-serif';
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

h1 {
  font-size: 1.7rem
}

h2 {
  font-size: 1.2rem;
}

#scene {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  height: 100%;
  padding: 2.5rem;
}

.title {
  letter-spacing: 0.6rem;
  line-height: 1.2;
  margin: 1rem 0 0.5rem;
  text-transform: uppercase;

  &.large-screen {
    display: none;
  }
}

.subtitle {
  letter-spacing: 0.35rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.tagline {
  font-family: 'Merriweather', 'serif';
  font-style: italic;
  letter-spacing: 0.08rem;
  margin: 0.5rem 0;
}

.button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.2rem;
  margin: 2rem auto 0;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  text-transform: uppercase;

  &:active {
    background-color: rgba(255, 255, 255, 0.5)
  }
}

.touchevents .button {
  @include transition('background-color 0.1s');
}

.no-touchevents .button {
  @include transition('background-color 0.5s');

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.icons {
  margin: 3rem 0 0;

  li {
    display: inline-block;
    margin: 0 1rem;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .title.large-screen {
      display: block;
    }

    .title.small-screen {
      display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  html, body {
    font-size: 14px;
  }

  .button {
    border: 2px solid white;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  html, body {
    font-size: 16px;
  }

  .title {
    letter-spacing: 0.7rem;
  }
}
